html{
    background-color: azure;
}
h1{
    text-align: center;
    color: gold;
    line-height: 30px;
    background-color: antiquewhite;
}
form{
    text-align: center;
}
p{
    text-align: center;
    color: brown;
}
html.dark-mode{
    filter: invert(100%);
}
